
.MainB{

  background-color: transparent;
  margin-top: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}
.MainP{
  background-color: transparent;
  margin-top: 5em;
  align-items: center;
  justify-content: center;
  margin-left: 15em;
}

.bnv{
      background-color:rgba($color: white, $alpha: 0.3) ;
      padding-right: 10em;
      padding-left: 10em;
   
  }

  .bnvP{
    background-color:rgba($color: white, $alpha: 0.3) ;
    padding-right: 5em;
    padding-left: 5em;
    padding-bottom: 2em;
 
}


  