.bvn-2-bttn{
  background-color: transparent;
  border: transparent;
  margin-left: 2em;
  text-decoration:none;
  size: 2em;
}
.bvn-2-bttn :hover{
    cursor: pointer;
}
.bvn-2-bttnS{
  background-color: transparent;
  border: transparent;
  margin-left: 5em;
  text-decoration:none;
  size: 2em;
}
.bvn-2-bttnS :hover{
    cursor: pointer;
}