

.headerB {
    background-color: gray;
    margin-top: 3em;
   margin-right: 5em;
    margin-left: 5em;
  
  .hshing{
      display: flex;
  }
 
  
}

.Orden{
    display: flex;
}

.hshing1{
    padding-left: 3em;
    padding-top: 1em;
}

.hshing2{
    padding-left: 20em;
}